/* ============================= DESKTOP VERSION ============================= */
#desktopVersion {
  display: flex;
  background-color: #0097C9;
  height: 790px;
  justify-content: center;
  align-items: center;
}

#mobileVersion {
  display: none;
}
/* ========================================================================== */


/* ============================= MOBILE VERSION ============================= */
@media (max-width: 426px) {

/* ________________________________ MainPage ________________________________ */
#desktopVersion {
  display: none;
}

#mobileVersion {
  display: flex;
}

.split {
  height: 50%;
  width: 100%;
  position: fixed;
}

.top {
  top: 0;
  background-color: #0097C9;
}

.bottom {
  bottom: 0;
  background-color: #EF8F00;
}

#topUnderwear {

}

#bottomSocks {
}
/* -------------------------------------------------------------------------- */
}
/* ========================================================================== */
