/* ============================= DESKTOP VERSION ============================= */
#desktopVersion {
  display: flex;
  background-color: #0097C9;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  justify-content: center;
  align-items: center;
}

#mobileVersion {
  display: none;
}
/* ========================================================================== */


/* ============================= MOBILE VERSION ============================= */
@media (max-width: 426px) {

/* ________________________________ MainPage ________________________________ */
#desktopVersion {
  display: none;
}

#mobileVersion {
  display: flex;
}

.split {
  height: 50%;
  width: 100%;
  position: fixed;
  align-items: center;
}

.top {
  top: 0;
  background-color: #0097C9;
}

.bottom {
  bottom: 0;
  background-color: #EF8F00;
}

.button {
  width: 100px;
  height: 50px;
  font-size: 25px;
  border-radius: 8px;
}

.countTotal {
  position: absolute;
  justify-content: space-between;
}

#topUnderwear {

}

#bottomSocks {
  
}
/* -------------------------------------------------------------------------- */
}
/* ========================================================================== */
